.global-title{
    padding: 200px 0 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("./img/aboutus/about-sub-header.jpg");
}
.global-title .container{
    max-width: 1200px;
}

.global-header{
    top: 25px;
    position: relative;
    padding: 45px 45px 0px;
    background: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.global-sub-title{
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #6c6d8b;
}
.global-page-title{
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.65px;
    color: #01c3ca;
}

.projects{
    margin-top: 105px;
    padding: 0 15px;
}
.button-group.filter-button-group{
    margin-top: 48px;
    margin-bottom: 28px;
}
.filter-button-group button{
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.25px;
    color: #151416;
    border: none;
    background: none;
    padding-left: 35px;
    padding-right: 35px;
}
button.active{
    color: #01c3ca;
    position: relative;
}
button:focus{
    outline: none;
}
button.active::after{
    content: "";
    height: 3px;
    width: 94%;
    position: absolute;
    background-image: linear-gradient(271deg, #00d3a7, #02c0d0);
    bottom: -31px;
    left: 0;
}

.projects hr{
    height: 2px;
    background-color: #eaeaea;
}
.global-call-to-action{
    margin-bottom: 150px;
    overflow-y: hidden;
}
.grid-image{
    position: relative;
}
.grid-content{
    border-top-right-radius: 5px;
    background: #FFF;
    position: absolute;
    left: 0;
    bottom: -35px;
    padding: 27px 25px;
    width: 90%;
}
.brand-name{
    font-size: 17px;
    font-weight: normal;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: 1.35;  
    letter-spacing: -0.25px;  
    color: #7e879a;
}
.brand-title{
    font-size: 20px;
    font-weight: 600;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: 1.6;  
    letter-spacing: -0.29px;  
    color: #151416;
}